<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <span th:replace="~{home :: bootstrapImport}"></span>
</head>
<body>
<div class="login-container">
    <h2>Inscription</h2>
    <form th:action="@{/register}" th:object="${user}" method="post">
        <input type="text" name="username" placeholder="Nom d'utilisateur" th:field="*{username}">
        <input type="password" name="password" placeholder="Mot de passe" th:field="*{password}">
        <input type="submit" value="S'inscrire">
    </form>
</div>
</body>
</html>